* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fondo{
   background-color: rgba(0, 0, 0, 0.897);
}
/* BARRA DE NAVEGACION */
.barra_navegacion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background-image: url(imagenes/MYVGQ5I3TRBVLH2XCMGF5QA5AQ.jpg);
    height: 10rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    width: 8.2rem;
    border:solid #333;
}
#elementos_nav{
    background-color: #333;
    list-style-type: none;
    overflow: hidden;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li {
    float: left;
    padding: 1rem 1rem;
}
a{
    color: white;
    text-decoration: none;
}
.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: fantasy;
    font-size: 7rem;
    color: rgb(128, 31, 31);
    background-image: url(imagenes/MYVGQ5I3TRBVLH2XCMGF5QA5AQ.jpg);
    height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* CUERPO DEL TEXTO */
/* INDEX */
.idea{
    display: flex;
    padding-bottom: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blanchedalmond;   
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin: 1rem;
}
#concepto{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 6rem;
    color: rgb(125, 27, 27);
    animation: rubberBand;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: 3;
}
.definicion{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    text-align: justify;
    line-height: 1.4;
    margin: 1rem;
    display: flex;
}
/* MODELOS */
.tabla{
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    margin: auto;
    margin-top: 50px;
    line-height: 1.4; 
    background-color: aliceblue;
    border-collapse: collapse;
    width: 90%;
    text-align: center;
}
th, td{
    border:solid;
}
.subtitulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: fantasy;
    font-size: 6rem;
    color: rgb(125, 27, 27);
    background-color: rgb(127, 255, 212, 0.5);
    margin-bottom: 1rem;    
}
.galeria{
    display: grid;
    grid-template-columns: 15rem 15rem 15rem 15rem;
    justify-content: center;
    gap: 50px;
}
.img_2:hover{
    transform: scale(1.2);
}
.img_3:hover{
    transform: scale(1.2);
}
.img_4:hover{
    transform: scale(1.2);
}
.img_5:hover{
    transform: scale(1.2);
}
.img_6:hover{
    transform: scale(1.2);
}
.img_7:hover{
    transform: scale(1.2);
}
.img_8:hover{
    transform: scale(1.2);
}
.img_9:hover{
    transform: scale(1.2);
}
.img_10:hover{
    transform: scale(1.2);
}
.img_11:hover{
    transform: scale(1.2);
}
.img_12:hover{
    transform: scale(1.2);
}
.img_13:hover{
    transform: scale(1.2);
}
/* REALIZAR PEDIDOS */
.formulario{
    background-color: aliceblue;
    margin: 1rem;
    width: 100%;
    padding: 1rem;
}
.caja_principal{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#carouselExampleIndicators{
    width: 40%;
}
/* FOOTER */
.footer{
    margin-top: 50px;
    background-size: cover;
    font-size: 150%;
}
/* CELULARES */
/* @media (min-width: 480px){
.barra_navegacion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 10rem;
}
#logo{
    width: 4.2rem;
    border:solid #333;
    margin-top: 1rem;
}
#elementos_nav{
    display:flex;
    flex-direction: column;
    font-size: 0.5rem;
}
.titulo{
    font-size: 3rem;
    height: 2rem;
    padding-top: 15%;
    padding-bottom: 15%;
}
.idea{
    padding-bottom: 2rem;  
}
#concepto{
    font-size: 3rem;
    margin: 1rem;
}
.definicion{
    font-size: 1rem;
}
.footer{
    margin-top: 1px;
    font-size: 100%;
}
}
/* TABLETS */
/* @media (min-width: 768px){
.barra_navegacion{
    height: 10%;
    flex-wrap: wrap;
}
#logo{
    width: 35%;
    border:solid #333;
}
#elementos_nav{
    font-size: 60%;
}
.titulo{
    font-size: 4rem;
    height: 5rem;
}
.idea{
    padding-bottom: 2rem;  
}
#concepto{
    font-size: 3rem;
    margin: 1rem;
}
.definicion{
    font-size: 1rem;
}
.footer{
    margin-top: 1px;
    font-size: 100%;
}
}
/* LAPTOPS */
/* @media (min-width: 1279px){
.barra_navegacion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#logo{
    width: .2rem;
    border:solid #333;
    margin-top: 1rem;
}
#elementos_nav{
    display:flex;
    flex-direction: column;
    font-size: 5rem;
}
.titulo{
    font-size: 3rem;

    padding-top: 15%;
    padding-bottom: 15%;
}
.idea{
    padding-bottom: 2rem;  
}
#concepto{
    font-size: 3rem;
    margin: 1rem;
}
.definicion{
    font-size: 1rem;
}
.footer{
    margin-top: 1px;
    font-size: 100%;
}

